.git
.gitignore
.expo
.idea
.vscode
**/node_modules
**/venv
**/env
**/dist
**/build
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/*.sqlite3
**/coverage
.env.local
.env.development.local
.env.test.local
.env.production.local
